Source: ptux-sdk-bonewhite
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-bonewhite
Architecture: all
Description: Pragmatux SDK for Beaglebone White
 Meta-package referencing SDK tools for the
 Beaglebone White target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-bonewhite,
 ${misc:Depends}
